In [64]:
import pandas as pd
import numpy as np
import tensorflow as tf


from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
#read data
df = pd.read_csv('StudentsPerformance.csv')

In [3]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [6]:
df['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [7]:
df['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [8]:
df['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [9]:
df['lunch'].value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

In [10]:
df['test preparation course'].value_counts()

none         642
completed    358
Name: test preparation course, dtype: int64

### split data into input variables and output variables

In [11]:
X = df.iloc[:, 0:5]
y = df.iloc[:, 5:]

In [12]:
X.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
1,female,group C,some college,standard,completed
2,female,group B,master's degree,standard,none
3,male,group A,associate's degree,free/reduced,none
4,male,group C,some college,standard,none

In [13]:
y.head()

   math score  reading score  writing score
0          72             72             74
1          69             90             88
2          90             95             93
3          47             57             44
4          76             78             75

### one-hot coding for input variables

In [14]:
X_dummies = pd.get_dummies(X)

In [15]:
X_dummies.head()

,gender_female,gender_male,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_free/reduced,lunch_standard,test preparation course_completed,test preparation course_none
0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1
1,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,1,0
2,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1
3,0,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1
4,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1

### split data into train and test data

17

In [16]:
print("X:", X_dummies.shape, "Y:", y.shape)
in_dim = X_dummies.shape[1]
out_dim = y.shape[1]

X: (1000, 17) Y: (1000, 3)

In [17]:
#split data into train and test of 15%
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y, test_size=0.15, random_state=42)

#print shape of train dataset
print("xtrain:", X_train.shape, "ytrian:", y_train.shape)

xtrain: (850, 17) ytrian: (850, 3)

In [18]:
X_train.head()

,gender_female,gender_male,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_free/reduced,lunch_standard,test preparation course_completed,test preparation course_none
643,1,0,0,0,0,0,1,0,0,1,0,0,0,0,1,1,0
158,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,1,0
977,0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1
429,0,1,0,0,1,0,0,0,0,0,0,0,1,1,0,0,1
941,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,1

### Building Neural network

In [128]:
model = Sequential()
model.add(Dense(32, input_dim=in_dim, activation="relu"))
model.add(Dropout(0.3))
#model.add(Dense(32, activation="relu"))
#model.add(Dropout(0.2))
model.add(Dense(out_dim))
model.compile(loss="mse", optimizer="adam", metrics=['accuracy'])
 
model.summary()

Model: "sequential_23"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_62 (Dense)             (None, 32)                576
_________________________________________________________________
dropout_26 (Dropout)         (None, 32)                0
_________________________________________________________________
dense_63 (Dense)             (None, 3)                 99
=================================================================
Total params: 675
Trainable params: 675
Non-trainable params: 0
_________________________________________________________________

In [57]:
X.shape

(1000, 5)

In [129]:
#fit the model and use 15% of the training data for validation
model.fit(X_train, y_train, validation_split=0.15, epochs=100, batch_size=12)

Epoch 1/100
61/61 [==============================] - 0s 3ms/step - loss: 4848.1353 - accuracy: 0.3532 - val_loss: 4684.1543 - val_accuracy: 0.3828
Epoch 2/100
61/61 [==============================] - 0s 2ms/step - loss: 4674.9512 - accuracy: 0.3643 - val_loss: 4420.3477 - val_accuracy: 0.3984
Epoch 3/100
61/61 [==============================] - 0s 1ms/step - loss: 4267.9458 - accuracy: 0.3850 - val_loss: 3857.4919 - val_accuracy: 0.3906
Epoch 4/100
61/61 [==============================] - 0s 1ms/step - loss: 3570.2292 - accuracy: 0.3740 - val_loss: 3062.8262 - val_accuracy: 0.3828
Epoch 5/100
61/61 [==============================] - 0s 1ms/step - loss: 2726.7886 - accuracy: 0.3587 - val_loss: 2227.4062 - val_accuracy: 0.3828
Epoch 6/100
61/61 [==============================] - 0s 1ms/step - loss: 1917.8368 - accuracy: 0.3698 - val_loss: 1482.5123 - val_accuracy: 0.3828
Epoch 7/100
61/61 [==============================] - 0s 1ms/step - loss: 1274.1470 - accuracy: 0.3615 - val_loss: 921.0714 - val_accuracy: 0.3828
Epoch 8/100
61/61 [==============================] - 1s 14ms/step - loss: 793.7794 - accuracy: 0.3850 - val_loss: 560.3462 - val_accuracy: 0.3828
Epoch 9/100
61/61 [==============================] - 0s 6ms/step - loss: 519.7774 - accuracy: 0.3684 - val_loss: 365.6223 - val_accuracy: 0.3828
Epoch 10/100
61/61 [==============================] - 0s 1ms/step - loss: 390.3153 - accuracy: 0.3449 - val_loss: 285.3723 - val_accuracy: 0.3828
Epoch 11/100
61/61 [==============================] - 0s 1ms/step - loss: 339.9512 - accuracy: 0.3864 - val_loss: 252.1812 - val_accuracy: 0.3828
Epoch 12/100
61/61 [==============================] - 0s 2ms/step - loss: 307.7128 - accuracy: 0.3532 - val_loss: 239.9056 - val_accuracy: 0.3828
Epoch 13/100
61/61 [==============================] - 0s 2ms/step - loss: 293.9623 - accuracy: 0.3601 - val_loss: 233.5705 - val_accuracy: 0.3828
Epoch 14/100
61/61 [==============================] - 0s 1ms/step - loss: 305.7534 - accuracy: 0.3490 - val_loss: 228.3675 - val_accuracy: 0.3750
Epoch 15/100
61/61 [==============================] - 0s 1ms/step - loss: 291.7502 - accuracy: 0.3532 - val_loss: 223.3384 - val_accuracy: 0.3750
Epoch 16/100
61/61 [==============================] - 0s 1ms/step - loss: 286.4140 - accuracy: 0.3670 - val_loss: 218.9757 - val_accuracy: 0.3750
Epoch 17/100
61/61 [==============================] - 0s 1ms/step - loss: 284.4167 - accuracy: 0.3366 - val_loss: 214.5714 - val_accuracy: 0.3750
Epoch 18/100
61/61 [==============================] - 0s 1ms/step - loss: 292.4510 - accuracy: 0.3449 - val_loss: 211.8559 - val_accuracy: 0.3828
Epoch 19/100
61/61 [==============================] - 0s 2ms/step - loss: 259.3219 - accuracy: 0.3435 - val_loss: 209.2842 - val_accuracy: 0.4062
Epoch 20/100
61/61 [==============================] - 0s 1ms/step - loss: 256.6493 - accuracy: 0.3587 - val_loss: 206.2935 - val_accuracy: 0.4141
Epoch 21/100
61/61 [==============================] - 0s 2ms/step - loss: 268.7531 - accuracy: 0.3463 - val_loss: 203.8376 - val_accuracy: 0.4141
Epoch 22/100
61/61 [==============================] - 0s 2ms/step - loss: 274.0653 - accuracy: 0.3421 - val_loss: 201.5245 - val_accuracy: 0.4219
Epoch 23/100
61/61 [==============================] - 1s 18ms/step - loss: 266.3029 - accuracy: 0.3532 - val_loss: 199.2068 - val_accuracy: 0.3984
Epoch 24/100
61/61 [==============================] - 0s 3ms/step - loss: 284.6486 - accuracy: 0.3407 - val_loss: 197.5002 - val_accuracy: 0.3906
Epoch 25/100
61/61 [==============================] - 0s 2ms/step - loss: 260.8856 - accuracy: 0.3463 - val_loss: 195.9232 - val_accuracy: 0.3984
Epoch 26/100
61/61 [==============================] - 0s 2ms/step - loss: 236.3278 - accuracy: 0.3407 - val_loss: 195.0718 - val_accuracy: 0.4141
Epoch 27/100
61/61 [==============================] - 0s 2ms/step - loss: 242.0632 - accuracy: 0.3227 - val_loss: 194.2623 - val_accuracy: 0.4062
Epoch 28/100
61/61 [==============================] - 0s 2ms/step - loss: 251.4868 - accuracy: 0.3463 - val_loss: 193.0694 - val_accuracy: 0.3984
Epoch 29/100
61/61 [==============================] - 0s 2ms/step - loss: 261.2351 - accuracy: 0.4003 - val_loss: 192.5390 - val_accuracy: 0.3984
Epoch 30/100
61/61 [==============================] - 0s 2ms/step - loss: 265.7791 - accuracy: 0.3670 - val_loss: 191.9822 - val_accuracy: 0.3984
Epoch 31/100
61/61 [==============================] - 0s 2ms/step - loss: 247.3192 - accuracy: 0.3726 - val_loss: 190.7646 - val_accuracy: 0.4219
Epoch 32/100
61/61 [==============================] - 1s 16ms/step - loss: 263.4429 - accuracy: 0.3532 - val_loss: 190.2792 - val_accuracy: 0.3984
Epoch 33/100
61/61 [==============================] - 0s 5ms/step - loss: 261.1393 - accuracy: 0.3546 - val_loss: 189.8072 - val_accuracy: 0.4219
Epoch 34/100
61/61 [==============================] - 0s 3ms/step - loss: 239.1212 - accuracy: 0.3712 - val_loss: 189.7435 - val_accuracy: 0.4141
Epoch 35/100
61/61 [==============================] - 0s 2ms/step - loss: 251.3353 - accuracy: 0.3518 - val_loss: 189.3107 - val_accuracy: 0.4062
Epoch 36/100
61/61 [==============================] - 0s 1ms/step - loss: 240.0460 - accuracy: 0.3518 - val_loss: 188.9864 - val_accuracy: 0.4141
Epoch 37/100
61/61 [==============================] - 0s 2ms/step - loss: 250.4947 - accuracy: 0.3490 - val_loss: 188.5028 - val_accuracy: 0.4141
Epoch 38/100
61/61 [==============================] - 0s 2ms/step - loss: 247.6146 - accuracy: 0.3989 - val_loss: 187.7802 - val_accuracy: 0.4219
Epoch 39/100
61/61 [==============================] - 0s 1ms/step - loss: 251.8277 - accuracy: 0.4100 - val_loss: 187.2137 - val_accuracy: 0.4219
Epoch 40/100
61/61 [==============================] - 0s 1ms/step - loss: 240.2239 - accuracy: 0.3850 - val_loss: 186.6794 - val_accuracy: 0.4219
Epoch 41/100
61/61 [==============================] - 0s 2ms/step - loss: 235.7483 - accuracy: 0.3920 - val_loss: 186.0859 - val_accuracy: 0.4141
Epoch 42/100
61/61 [==============================] - 1s 19ms/step - loss: 247.5770 - accuracy: 0.4058 - val_loss: 185.3556 - val_accuracy: 0.4141
Epoch 43/100
61/61 [==============================] - 0s 2ms/step - loss: 246.9663 - accuracy: 0.3920 - val_loss: 185.4721 - val_accuracy: 0.4062
Epoch 44/100
61/61 [==============================] - 0s 2ms/step - loss: 236.3983 - accuracy: 0.4252 - val_loss: 185.7962 - val_accuracy: 0.4141
Epoch 45/100
61/61 [==============================] - 0s 1ms/step - loss: 248.1373 - accuracy: 0.3892 - val_loss: 184.9849 - val_accuracy: 0.4141
Epoch 46/100
61/61 [==============================] - 0s 1ms/step - loss: 252.7774 - accuracy: 0.4224 - val_loss: 184.5376 - val_accuracy: 0.4297
Epoch 47/100
61/61 [==============================] - 0s 2ms/step - loss: 249.0819 - accuracy: 0.4141 - val_loss: 184.1151 - val_accuracy: 0.4297
Epoch 48/100
61/61 [==============================] - 0s 1ms/step - loss: 232.4002 - accuracy: 0.4224 - val_loss: 184.0855 - val_accuracy: 0.4297
Epoch 49/100
61/61 [==============================] - 0s 1ms/step - loss: 237.7153 - accuracy: 0.4474 - val_loss: 184.0835 - val_accuracy: 0.4297
Epoch 50/100
61/61 [==============================] - 0s 1ms/step - loss: 236.5572 - accuracy: 0.4751 - val_loss: 183.3349 - val_accuracy: 0.4688
Epoch 51/100
61/61 [==============================] - 0s 1ms/step - loss: 251.1553 - accuracy: 0.4488 - val_loss: 183.4751 - val_accuracy: 0.5234
Epoch 52/100
61/61 [==============================] - 0s 1ms/step - loss: 250.2316 - accuracy: 0.4917 - val_loss: 183.8000 - val_accuracy: 0.5391
Epoch 53/100
61/61 [==============================] - 0s 1ms/step - loss: 237.3808 - accuracy: 0.4612 - val_loss: 183.6983 - val_accuracy: 0.5391
Epoch 54/100
61/61 [==============================] - 0s 1ms/step - loss: 251.9654 - accuracy: 0.4501 - val_loss: 183.7946 - val_accuracy: 0.5312
Epoch 55/100
61/61 [==============================] - 0s 1ms/step - loss: 234.9695 - accuracy: 0.4903 - val_loss: 182.9390 - val_accuracy: 0.5469
Epoch 56/100
61/61 [==============================] - 1s 19ms/step - loss: 256.7569 - accuracy: 0.4640 - val_loss: 182.7579 - val_accuracy: 0.5469
Epoch 57/100

61/61 [==============================] - 0s 2ms/step - loss: 257.7243 - accuracy: 0.5111 - val_loss: 182.1670 - val_accuracy: 0.6016
Epoch 58/100
61/61 [==============================] - 0s 1ms/step - loss: 246.9221 - accuracy: 0.4806 - val_loss: 182.1747 - val_accuracy: 0.5781
Epoch 59/100
61/61 [==============================] - 0s 1ms/step - loss: 272.6611 - accuracy: 0.4737 - val_loss: 182.3342 - val_accuracy: 0.5859
Epoch 60/100
61/61 [==============================] - 0s 1ms/step - loss: 250.8074 - accuracy: 0.4958 - val_loss: 182.8460 - val_accuracy: 0.5859
Epoch 61/100
61/61 [==============================] - 0s 1ms/step - loss: 238.9747 - accuracy: 0.4861 - val_loss: 181.8455 - val_accuracy: 0.5938
Epoch 62/100
61/61 [==============================] - 0s 1ms/step - loss: 231.7808 - accuracy: 0.5374 - val_loss: 182.3963 - val_accuracy: 0.5938
Epoch 63/100
61/61 [==============================] - 0s 1ms/step - loss: 255.2703 - accuracy: 0.5139 - val_loss: 182.4346 - val_accuracy: 0.5859
Epoch 64/100
61/61 [==============================] - 0s 1ms/step - loss: 237.6636 - accuracy: 0.5346 - val_loss: 181.8858 - val_accuracy: 0.5938
Epoch 65/100
61/61 [==============================] - 0s 1ms/step - loss: 241.9522 - accuracy: 0.4903 - val_loss: 181.8374 - val_accuracy: 0.5859
Epoch 66/100
61/61 [==============================] - 0s 1ms/step - loss: 225.3110 - accuracy: 0.5152 - val_loss: 181.8087 - val_accuracy: 0.6016
Epoch 67/100
61/61 [==============================] - 0s 1ms/step - loss: 254.6351 - accuracy: 0.4834 - val_loss: 181.4781 - val_accuracy: 0.5859
Epoch 68/100
61/61 [==============================] - 0s 4ms/step - loss: 238.0431 - accuracy: 0.5139 - val_loss: 180.9638 - val_accuracy: 0.5938
Epoch 69/100
61/61 [==============================] - 1s 16ms/step - loss: 242.1054 - accuracy: 0.5499 - val_loss: 181.1797 - val_accuracy: 0.6094
Epoch 70/100
61/61 [==============================] - 0s 2ms/step - loss: 235.2836 - accuracy: 0.5152 - val_loss: 181.5377 - val_accuracy: 0.6094
Epoch 71/100
61/61 [==============================] - 0s 2ms/step - loss: 240.3619 - accuracy: 0.5291 - val_loss: 181.3849 - val_accuracy: 0.6172
Epoch 72/100
61/61 [==============================] - 0s 2ms/step - loss: 249.7913 - accuracy: 0.5014 - val_loss: 181.5660 - val_accuracy: 0.6094
Epoch 73/100
61/61 [==============================] - 0s 2ms/step - loss: 247.9377 - accuracy: 0.5097 - val_loss: 181.5845 - val_accuracy: 0.6250
Epoch 74/100
61/61 [==============================] - 0s 2ms/step - loss: 248.3642 - accuracy: 0.5319 - val_loss: 181.7974 - val_accuracy: 0.6016
Epoch 75/100
61/61 [==============================] - 0s 1ms/step - loss: 251.4429 - accuracy: 0.5125 - val_loss: 181.7653 - val_accuracy: 0.6172
Epoch 76/100
61/61 [==============================] - 0s 1ms/step - loss: 252.3405 - accuracy: 0.5416 - val_loss: 181.4139 - val_accuracy: 0.6172
Epoch 77/100
61/61 [==============================] - 0s 2ms/step - loss: 228.9584 - accuracy: 0.5305 - val_loss: 181.5887 - val_accuracy: 0.6016
Epoch 78/100
61/61 [==============================] - 0s 2ms/step - loss: 243.3036 - accuracy: 0.4986 - val_loss: 181.5478 - val_accuracy: 0.6016
Epoch 79/100
61/61 [==============================] - 1s 12ms/step - loss: 237.9050 - accuracy: 0.5540 - val_loss: 181.5808 - val_accuracy: 0.5859
Epoch 80/100
61/61 [==============================] - 0s 8ms/step - loss: 218.8887 - accuracy: 0.5443 - val_loss: 181.7487 - val_accuracy: 0.5859
Epoch 81/100
61/61 [==============================] - 0s 1ms/step - loss: 248.2310 - accuracy: 0.4917 - val_loss: 181.4274 - val_accuracy: 0.5859
Epoch 82/100
61/61 [==============================] - 0s 1ms/step - loss: 224.6738 - accuracy: 0.5125 - val_loss: 181.3459 - val_accuracy: 0.6016
Epoch 83/100
61/61 [==============================] - 0s 1ms/step - loss: 231.9318 - accuracy: 0.5125 - val_loss: 181.5567 - val_accuracy: 0.5938
Epoch 84/100
61/61 [==============================] - 0s 2ms/step - loss: 255.1713 - accuracy: 0.5000 - val_loss: 181.2976 - val_accuracy: 0.5781
Epoch 85/100
61/61 [==============================] - 0s 2ms/step - loss: 254.5621 - accuracy: 0.5402 - val_loss: 181.6278 - val_accuracy: 0.5938
Epoch 86/100
61/61 [==============================] - 0s 2ms/step - loss: 218.5174 - accuracy: 0.5319 - val_loss: 181.2402 - val_accuracy: 0.5859
Epoch 87/100
61/61 [==============================] - 0s 2ms/step - loss: 235.5670 - accuracy: 0.5429 - val_loss: 181.5753 - val_accuracy: 0.6094
Epoch 88/100
61/61 [==============================] - 0s 1ms/step - loss: 229.7494 - accuracy: 0.4986 - val_loss: 181.2291 - val_accuracy: 0.5859
Epoch 89/100
61/61 [==============================] - 0s 1ms/step - loss: 234.8760 - accuracy: 0.5028 - val_loss: 181.3663 - val_accuracy: 0.6016
Epoch 90/100
61/61 [==============================] - 0s 1ms/step - loss: 228.4277 - accuracy: 0.5083 - val_loss: 181.2537 - val_accuracy: 0.6016
Epoch 91/100
61/61 [==============================] - 0s 2ms/step - loss: 233.7053 - accuracy: 0.5111 - val_loss: 181.5492 - val_accuracy: 0.5859
Epoch 92/100
61/61 [==============================] - 0s 1ms/step - loss: 240.7998 - accuracy: 0.5125 - val_loss: 182.3274 - val_accuracy: 0.6016
Epoch 93/100
61/61 [==============================] - 0s 1ms/step - loss: 241.5122 - accuracy: 0.4820 - val_loss: 181.6141 - val_accuracy: 0.5938
Epoch 94/100
61/61 [==============================] - 0s 1ms/step - loss: 247.3672 - accuracy: 0.5222 - val_loss: 181.9889 - val_accuracy: 0.6094
Epoch 95/100
61/61 [==============================] - 0s 1ms/step - loss: 251.7270 - accuracy: 0.5042 - val_loss: 181.3296 - val_accuracy: 0.5938
Epoch 96/100
61/61 [==============================] - 0s 1ms/step - loss: 247.1417 - accuracy: 0.5429 - val_loss: 181.3156 - val_accuracy: 0.5938
Epoch 97/100
61/61 [==============================] - 0s 1ms/step - loss: 229.7045 - accuracy: 0.5346 - val_loss: 181.3863 - val_accuracy: 0.6016
Epoch 98/100
61/61 [==============================] - 1s 10ms/step - loss: 235.6593 - accuracy: 0.5374 - val_loss: 181.6823 - val_accuracy: 0.5859
Epoch 99/100
61/61 [==============================] - 1s 10ms/step - loss: 229.2511 - accuracy: 0.5443 - val_loss: 181.2287 - val_accuracy: 0.5859
Epoch 100/100
61/61 [==============================] - 0s 2ms/step - loss: 245.0679 - accuracy: 0.5152 - val_loss: 181.1123 - val_accuracy: 0.5938

In [130]:
#tring model on the test set(unseen data)
y_pred = model.predict(X_test)

In [131]:
mean_squared_error(y_test, y_pred)

196.8533396884542

In [132]:
r2_score(y_test, y_pred)

0.20149021269607573